fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings

langchain
langchain-text-splitters
langchain-chroma
langchain-google-genai

chromadb
google-generativeai
python-dotenv

psycopg[binary]
SQLAlchemy>=2.0.0
